<div class="container">
    <h2 class="mb-4">Bhbee Blog~Site</h2>
    <h5 class="mb-1 d-inline"><%= article.title %></h5>
    <p class="d-inline"> .......By <%= article.author %></p>
    

    <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
    </div>
    <p class="d-inline"> A <%= article.reading_time %> minutes read</p>
    <p> Read_Count: <%= article.read_count %></p>
    
    <a href="/" class="btn btn-primary">All Articles</a>

    <div class= "my-3">
        <%- article.body %>
    </div>
</div>
